{% extends 'app/base.html' %}


{% block title %}Document Generator{% endblock title %}


{% block body_block %}

    {% if search %}
        <div class="mx-auto p-2">
            <h1>
                Type away and the machine will provide relevant cases
            </h1>
            <form method="POST">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <input type="submit" value="Search" class="btn btn-primary">
            </form>  
        </div>
    
    {% else %}
        <div class="mx-auto p-2">
            <h1>
                Here are the results
            </h1>
            <h2>
                Tag: {{ tag }}

            </h2>
            <ul>
            {% for case in cases %}
                <li>
                    {{ case.name }}
                    <br>
                    <a href={{ case.URL}}>{{ case.URL}}</a>
                    <br>
                    <input type="submit" value="Summarize" class='btn btn-secondary'>
                </li>
                <br>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock body_block %}