{% extends 'app/base.html' %}


{% block title %}Document Generator{% endblock title %}


{% block body_block %}

    {% if search %}
        <div class="mx-5 p-2">
            <div class="card text-bg-dark mb-3" style="max-width: 100%;">
                <div class="card-header">Search Feature</div>
                <div class="card-body">
                  <h4 class="card-title">Input your query to search for relevant cases</h4>
                  <form method="POST" class="mt-4">  
                    {% csrf_token %}  
                    {{ form.as_p }}
                    <div class="d-grid col-2 mx-auto">
                        <input type="submit" value="Search" class="btn btn-lg btn-light">
                    <div>
                </form>  
                </div>
              </div>
        </div>
    
    {% else %}
    <div class="mx-5 p-2">
        <div class="card text-bg-dark mb-3" style="max-width: 100%;">
            <div class="card-header">Related Cases</div>
            <div class="card-body">
              <h4 class="card-title">Tag: {{ tag }}</h4>


              {% for case in cases %}
              <div class="card text-bg-light my-4" style="max-width: 100%;">
                <div class="card-header">Case</div>
                <div class="card-body">
                  <h5 class="card-title">{{ case.name }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <a href={{ case.URL}} class="btn btn-dark">Go to Case</a>
                    <a href='#' class="btn btn-secondary">Summarize</a>
                </div>
              </div>
              {% endfor %}
            
            </div>
          </div>
    </div>
        
    {% endif%}

{% endblock body_block %}