{% extends 'app/base.html' %} {% block title %}Law ChatBot{% endblock title %}
{% block body_block %}

<div class="mx-5 p-2">
  <div class="card text-bg-dark mb-3" style="max-width: 100%;">
      <div class="card-header">Summarizer</div>
      <div class="card-body">
        <h4 class="card-title">Input your law case to summarize</h4>
        <form method="POST">
          {% csrf_token %}
          <textarea
            type="text"
            class="form-control"
            name="user_input"
            rows="10"
            placeholder="Input Law Case here"
          ></textarea>
          <div class="d-grid gap-2 col-3 mx-auto">
            <button type="submit" class="btn btn-lg btn-secondary mt-3">
              Summarize
            </button>
          </div>
          {% comment %}
          <button type="button" onclick="refresh()" class="btn btn-danger mt-3">
            {% endcomment %} {% comment %} Refresh
          </button>
          {% endcomment %}
        </form>
      </div>
    </div>
    {% if messages %}
    <div class="card mt-3" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">Summary of your law case</h5>
        <p class="card-text">
          {{messages}}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
</div>



<script>
  const form = document.querySelector("form");

  {% comment %} async function refresh() {
    await fetch("/app/refresh", {
      method: "POST",
    });

    location.reload();
  } {% endcomment %}

  {% comment %} async function submitForm(event) {


    const user_input = form.elements["user_input"].value;

    const rawResponse = await fetch("/app/summarizer", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        headers: { "X-CSRFToken": "{{csrf_token}}" },
      },
      body: JSON.stringify({ user_input }),
    });


  }
  form.addEventListener("submit", submitForm); {% endcomment %}
</script>

{% endblock body_block %}
